body {
  height: 100%;
}
.App {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
@media (min-width: 650px) {
  .App {
    background-position: center center;
  }

  .App-content {
    align-items: flex-end;
    justify-content: center;
  } 

  /*hides disabled modal button when modal is open*/
 }
.openModalBtn:disabled {
  display: none !important;
} 
.openModalBtn {
  
  width: 100px;
  height: 30px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(9, 9, 121, 1) 35%,
  rgba(0, 212, 255, 1) 100%

);
  color: white;

}
.modBtn {
  text-align: center;
}
