.intro {
 width: 75%;
 margin-left: 50px;
 color: whitesmoke;
}
 /*hides disabled modal button when modal is open*/

.openModalBtn:disabled {
  display: none !important;
} 
.openModalBtn {
  
  width: 100px;
  height: 30px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
  90deg,
  rgba(2, 0, 36, 1) 0%,
  rgba(9, 9, 121, 1) 35%,
  rgba(0, 212, 255, 1) 100%

);
  color: white;

}
.modBtn {
  text-align: center;
}
